.logo-link,
.logo-link__text {
    font-family: $font-Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-link__text {
    color: $color-log0-accent-text;
}

.logo-link {
    color: $color-log0-text;
    margin-right: 93px;
}

.logo-link.logo-link--footer {
    color: $color-whit-txt;
    margin: 0;
    padding: 0;

}
