.container__logo-header{
    display: flex;
    align-items: center;

} 

.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
    gap: 50px;
}

.navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color $transition;

    color: $color-secondary-txt;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation__link:hover,
.navigation__link:focus {
    color: $bg-icon-hover;
}

.navigation__link.current {
    position: relative;
    color: $bg-icon-hover;

}

.navigation__link.current::after {
    content: "";
    position: absolute;
    height: 4px;
    bottom: -1px;
    width: 100%;
    border-radius: 4px;

    display: block;

    color: $bg-icon-hover;
}

.navigation.current:hover:after {
    opacity: 0;
    transform: scaleX(1);

}
.navigation__list .item {
    min-width: 45px;
    margin-right: 50px;
    display: inline-block;
    // outline: 2px solid black;
}

.navigation__list .item:nth-child(3n) {
    margin-right: 0;
}

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts__list,
.contacts__link {
    color: $color-main-txt;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.navigation__list .contacts__link {
    display: flex;
}

.contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    transition: color $transition
}

.contacts__link:hover,
.contacts__link:focus {
    color: $bg-icon-hover;
    fill: $bg-icon-hover;
}

.contacts__icons-tel,
.contacts__icons-envelope {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__email {
    margin-right: 30px;
}