.navigation {
    display: flex;
    align-items: center;
    
}


.navigation__list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    
}

.navigation__item {
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  
   
}
.navigation__linc {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}


.navigation__linc:focus,
.navigation__linc:hover {
    color: #2196F3;
}

.navigation__linc .current {
color: #2196F3;
}

.navigation__linc.current {
    position: relative;
    color: #2196F3;

}

.navigation__linc.current::after {
    content: " ";
    position: absolute;
    height: 4px;
    bottom: -32px;
    width: 100%;
    border-radius: 4px;

    display: block;

    background-color:#2196F3;
}