.social-networks {
    width: 270px;
    gap: 10px;

    display: flex;
    justify-content: center;
    /* outline: 2px solid red; */
}

.link-team {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: #AFB1B8;
    border-radius: 50%;
}

.link-team:hover,
.link-team:focus {
    background-color: #188CE8;
    fill: var(--main-background);
}

.section.our-team {
    margin-left: auto;
    margin-right: auto;

}